In [1]:
import pandas as pd
import random

data = {
    'Tipe Ujian' : ['UTS1', 'UAS1', 'UTS2', 'UAS2']*3,
    'Mata Pelajaran' : ['Fisika']*4 + ['Matematika']*4+['Statistika']*4,
    'Rata2 Waktu Belajar (menit)' : [random.choice(range(200, 800)) for i in range(12)],
    'Rata2 Nilai Ujian' : [random.choice(range(40, 100)) for i in range(12)] 
}

df = pd.DataFrame(data)
df

   Tipe Ujian Mata Pelajaran  Rata2 Waktu Belajar (menit)  Rata2 Nilai Ujian
0        UTS1         Fisika                          431                 84
1        UAS1         Fisika                          684                 55
2        UTS2         Fisika                          618                 82
3        UAS2         Fisika                          613                 91
4        UTS1     Matematika                          754                 87
5        UAS1     Matematika                          574                 63
6        UTS2     Matematika                          404                 51
7        UAS2     Matematika                          637                 66
8        UTS1     Statistika                          593                 59
9        UAS1     Statistika                          340                 73
10       UTS2     Statistika                          371                 90
11       UAS2     Statistika                          234                 87



---



---

## Soal 1. Data Cleaning

Lakukan sorting data berdasarkan Rata2 nilai ujian dari terbesar ke terkecil

*   Lakukan sorting data berdasarkan Rata2 nilai ujian dari terbesar ke terkecil
*   Tipe Ujian dan Mata pelajaran apakah yang memiliki rata2 nilai terkecil?

In [2]:
#code here
df_sorted = df.sort_values(by='Rata2 Nilai Ujian', ascending=False)
print(df_sorted)

min_score_row = df_sorted.iloc[-1]
tipe_ujian_min = min_score_row['Tipe Ujian']
mata_pelajaran_min = min_score_row['Mata Pelajaran']
print(f"Tipe Ujian dengan rata2 nilai terkecil: {tipe_ujian_min}")
print(f"Mata Pelajaran dengan rata2 nilai terkecil: {mata_pelajaran_min}")

   Tipe Ujian Mata Pelajaran  Rata2 Waktu Belajar (menit)  Rata2 Nilai Ujian
3        UAS2         Fisika                          613                 91
10       UTS2     Statistika                          371                 90
4        UTS1     Matematika                          754                 87
11       UAS2     Statistika                          234                 87
0        UTS1         Fisika                          431                 84
2        UTS2         Fisika                          618                 82
9        UAS1     Statistika                          340                 73
7        UAS2     Matematika                          637                 66
5        UAS1     Matematika                          574                 63
8        UTS1     Statistika                          593                 59
1        UAS1         Fisika                          684                 55
6        UTS2     Matematika                          404                 51
Tipe Ujian dengan rata2 nilai terkecil: UTS2
Mata Pelajaran dengan rata2 nilai terkecil: Matematika

Expected output:

(Output bisa berbeda-beda)

![alt text](https://drive.google.com/uc?id=1iv8P-LDdN3WpTVX9qST3kL7QSNSDiOc2)



---



---

<h2>Soal 2: Data Restructuring</h2>

Jelaskan itu pivoting dan melting data

- Pivoting adalah proses mengubah data dari bentuk panjang (long format) ke bentuk lebar (wide format). Ini berarti bahwa nilai-nilai dari satu kolom menjadi nama kolom baru, dan nilai-nilai terkait dipindahkan ke sel-sel yang sesuai. Fungsi utama yang digunakan dalam pandas untuk pivoting adalah pivot() atau pivot_table().

- Melting adalah proses kebalikan dari pivoting, yaitu mengubah data dari bentuk lebar (wide format) ke bentuk panjang (long format). Ini berarti bahwa kolom-kolom yang tersebar dikombinasikan menjadi dua kolom: satu untuk nama kolom asli dan satu lagi untuk nilai terkait. Fungsi utama yang digunakan dalam pandas untuk melting adalah melt().



---



---

<h2>Soal 3: Reshaping Data 1</h2>

In [3]:
import pandas as pd
import random

data = {
    'Tipe Ujian' : ['UTS1', 'UAS1', 'UTS2', 'UAS2']*3,
    'Mata Pelajaran' : ['Fisika']*4 + ['Matematika']*4+['Statistika']*4,
    'Rata2 Waktu Belajar (menit)' : [random.choice(range(200, 800)) for i in range(12)],
    'Rata2 Nilai Ujian' : [random.choice(range(40, 100)) for i in range(12)] 
}

df = pd.DataFrame(data)
df

   Tipe Ujian Mata Pelajaran  Rata2 Waktu Belajar (menit)  Rata2 Nilai Ujian
0        UTS1         Fisika                          464                 54
1        UAS1         Fisika                          731                 82
2        UTS2         Fisika                          722                 42
3        UAS2         Fisika                          725                 73
4        UTS1     Matematika                          472                 86
5        UAS1     Matematika                          323                 44
6        UTS2     Matematika                          523                 69
7        UAS2     Matematika                          736                 97
8        UTS1     Statistika                          280                 57
9        UAS1     Statistika                          687                 81
10       UTS2     Statistika                          685                 79
11       UAS2     Statistika                          486                 63

Perhatikan data di atas, kemudian ubahlah bentuknya agar sesuai yang di harapkan.

In [4]:
#code here
pivot_df = df.pivot(index='Tipe Ujian', columns='Mata Pelajaran', values=['Rata2 Nilai Ujian', 'Rata2 Waktu Belajar (menit)'])

print(pivot_df)

               Rata2 Nilai Ujian                        \
Mata Pelajaran            Fisika Matematika Statistika
Tipe Ujian
UAS1                          82         44         81
UAS2                          73         97         63
UTS1                          54         86         57
UTS2                          42         69         79

               Rata2 Waktu Belajar (menit)
Mata Pelajaran                      Fisika Matematika Statistika
Tipe Ujian
UAS1                                   731        323        687
UAS2                                   725        736        486
UTS1                                   464        472        280
UTS2                                   722        523        685

Expected Result:

(Output bisa berbeda-beda)

![alt text](https://drive.google.com/uc?id=1XufsfqZe7-XZLsb92SpATexy-QRZE0ow)



---



---

<h2>Soal 4: Reshaping Data 2</h2>

In [5]:
import pandas as pd

data = {
    'Hari' : ['Sabtu', 'Minggu'],
    'Kebun Binatang' : [271, 399],
    'Dufan' : [501, 700],
    'Disney' : [1000, 1001],
    'Bali' : [900, 803]
}
df = pd.DataFrame(data).set_index('Hari')
df

        Kebun Binatang  Dufan  Disney  Bali
Hari
Sabtu              271    501    1000   900
Minggu             399    700    1001   803

diatas adalah data tentang jumlah pengunjung di berbagai tempat hiburan, ubahlah struktur data tersebut sehingga sesuai dengan hasil yang diharapkan.

In [6]:
#code here
df_melting = df.reset_index().melt(id_vars='Hari', var_name='Tempat Hiburan', value_name='Jumlah Pengunjung')

print(df_melting)

     Hari  Tempat Hiburan  Jumlah Pengunjung
0   Sabtu  Kebun Binatang                271
1  Minggu  Kebun Binatang                399
2   Sabtu           Dufan                501
3  Minggu           Dufan                700
4   Sabtu          Disney               1000
5  Minggu          Disney               1001
6   Sabtu            Bali                900
7  Minggu            Bali                803

Expected Result:

(Output bisa berbeda-beda)

![alt text](https://drive.google.com/uc?id=159mIqcyfeD30EEcyZmmkovORa6cZDLtn)



---



---

<h2>Soal 5: Data Enrichment</h2>

Lakukan binning data menggunakan qcut sehingga sesuai hasil yang diharapkan

In [7]:
#code here
data = {
    'Tipe Ujian': ['UTS1', 'UAS1', 'UTS2', 'UAS2']*3,
    'Mata Pelajaran': ['Fisika']*4 + ['Matematika']*4 + ['Statistika']*4,
    'Rata2 Waktu Belajar (menit)': [random.choice(range(200, 800)) for _ in range(12)],
    'Rata2 Nilai Ujian': [random.choice(range(40, 100)) for _ in range(12)]
}

df1 = pd.DataFrame(data)

df1['Belajar Bin'] = pd.qcut(df1['Rata2 Waktu Belajar (menit)'], q=4, labels=False)
df1['Nilai Bin'] = pd.qcut(df1['Rata2 Nilai Ujian'], q=4, labels=False)

def kelulusan(nilai):
    if nilai >= 85:
        return 'lulus'
    elif 70 <= nilai < 85:
        return 'remedial'
    else:
        return 'tidak lulus'

df1['Keterangan kelulusan'] = df1['Rata2 Nilai Ujian'].apply(kelulusan)

df1.drop(columns=['Belajar Bin', 'Nilai Bin'], inplace=True)

print(df1)

   Tipe Ujian Mata Pelajaran  Rata2 Waktu Belajar (menit)  Rata2 Nilai Ujian  \
0        UTS1         Fisika                          672                 50
1        UAS1         Fisika                          360                 85
2        UTS2         Fisika                          792                 69
3        UAS2         Fisika                          248                 61
4        UTS1     Matematika                          669                 70
5        UAS1     Matematika                          379                 56
6        UTS2     Matematika                          299                 61
7        UAS2     Matematika                          433                 89
8        UTS1     Statistika                          505                 68
9        UAS1     Statistika                          480                 40
10       UTS2     Statistika                          270                 71
11       UAS2     Statistika                          396                 57

   Keterangan kelulusan
0           tidak lulus
1                 lulus
2           tidak lulus
3           tidak lulus
4              remedial
5           tidak lulus
6           tidak lulus
7                 lulus
8           tidak lulus
9           tidak lulus
10             remedial
11          tidak lulus

Expected Output:

(Output bisa berbeda-beda)

![alt text](https://drive.google.com/uc?id=1h2_u5_xhD1_QtPpItTj-o3lljHhnr4XS)



---



---